body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.center {
  text-align: center;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 34px;
}
p {
  line-height: 170%;
}
.orange {
  color: orange;
}
.flex {
  display: flex;
}
.half-width {
  width: 44%;
  float: left;
  padding-left: 3%;
  margin-left: 3%;
}

/* Style of Top Section */
section {
  padding: 4em 0;
}
.top-section {
  background: url(image/top-banner.png) no-repeat left top;
}
.about-section {
  padding: 0 2.5em;
}
.img-section {
  padding-left: 4em;
}
.img-section img {
  width: 90%;
}
a:link,
a:visited {
  text-decoration: none;
  padding: 14px 28px;
  background: linear-gradient(orange, darkorange);
  color: #fff;
  font-weight: 700;
  display: inline-block;
  margin-top: 8px;
  border-radius: 4px;
  text-transform: uppercase;
}

/* Css style of Dream Big*/
.dream-big {
  background-color: #f2f2f2;
  padding: 8em 0;
}

.dream-text p {
  padding-right: 80px;
}

.dream-text h2 {
}
